.divider {
  &:before {
    content: '. . . . . .';
    width: 100%;
    display: block;
    text-align: center;
    color = $main-green;
  }
}
.text-center {
  text-align: center;
}

.doc-title {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  position: relative;
  margin: 1.5em 0 0.7em;
  font-weight: 500;
  color: $main-red;

  @media $mobile-query {
    font-size: 24px;
  }
}

.doc-content {
  font-size: 18px;
  margin: 0 0 1em;

  @media $mobile-query {
    font-size: 15px;
  }

  p {
    line-height: 1.5;
    color: #555;
    margin-bottom: 0.9em;
  }

}

.square-list {
  padding-left: 1.5em;
  list-style-type: square;

  li {
    line-height: 1.2;
    margin-bottom: 0.9em;
  }
}

.well-list {
  padding-left: 0;
  margin: 1em 0;
  list-style-type: none;

  li {
    line-height: 1.2;
    margin: 0;
    background-color: #F5F4EE;
    border: 1px solid #FDFCF6;
    padding: 0;
  }
  li:hover {

  }
  a {
    display: block;
    padding: 1em;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    background-color: #04556A;
  }
}

.note {
  font-size: 0.8em;
  color: #555;

  big {
    color: $red;
    font-size: 1.2em;
  }
}

.section-title {
  border-bottom: 3px solid $red;
  padding: 0 0 4px;
  margin-bottom: 20px;
}

hr {
  border-color: darken(#F5F4EE, 8%);
}

.single-line {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
