{% load pages_tags mezzanine_tags i18n future staticfiles %}

<div id="nav" ng-class="{show: showNav}">
    <div class="inner">
        <div class="nav-header">
            <b>NAV</b>
            <a href="#" class="btn-nav menu-button"
              ng-click="showNav=!showNav"
            >✕</a>
        </div>
        <div id="logo">
            <a href="{% url "home" %}"><img src="{% static "images/logo.png" %}" alt=""></a>
        </div>
        <p class="side-condate">
          MAY 17-18 2014 in Taipei
        </p>
        {% block left_panel %}
        {% page_menu "pages/menus/tree.html" %}
        <ul class="hide nav nav-list navlist-menu-level-1">
          <li id="tree-menu-blog">
            <a href="{% url "blog" %}">{% trans "Blog" %}</a>
          </li>
        </ul>
        {% endblock %}
        {% if request.user.is_authenticated %}
        <ul class="nav nav-list navlist-menu-level-1">
          <li id="proposal">
            <a href="{% url "proposal:list" %}">{% trans "My Proposals" %}</a>
          </li>
          {% if request.user.is_superuser or request.user.get_profile.is_reviewer %}
          <li id="tree-menu-review">
            <a href="{% url "proposal_review:list_proposals" %}">{% trans "Review" %}</a>
            <ul class="nav nav-list navlist-menu-level-2">
              <li id="tree-menu-call-for-proposals">
                <a href="{% url "proposal_review:list_proposals" %}">{% trans "All Proposals" %}</a>
              </li>
              <li id="tree-menu-program-keynote-speakers">
                <a href="{% url "proposal_review:my_review" %}">{% trans "My Review" %}</a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li id="profile">
            <a href="{% url "profile_update" %}">{% trans "My Profile" %}</a>
          </li>
        </ul>
        <div class="text-center">
          <a class="btn btn-default btn-sm" href="{% url "logout" %}">{% trans "LOG OUT" %}</a>
        {% else %}
        <div class="text-center">
          <a class="btn btn-default btn-sm" href="{% url "login" %}">{% trans "SPEAKER LOG IN" %}</a>
        {% endif %}
        </div>
        <div class="sticky-holder"> </div>
    </div>
    <div class="sticky">
        <div class="social-icons">
            <a class="social-icon icon-facebook wobble-vertical" title="PyCon Taiwan on Facebook" href="https://www.facebook.com/pycontw" target="_blank">facebook</a>
            <a class="social-icon icon-twitter wobble-vertical" title="PyCon Taiwan on Twitter" href="https://twitter.com/pycontw" target="_blank">twitter</a>
            <a class="social-icon icon-googleplus wobble-vertical" title="PyCon Taiwan on Google+" href="https://plus.google.com/101932655972746759016/" target="_blank">googleplus</a>
        </div>
        <div class="lang-select">
            {% for lang_code, lang_name in LANGUAGES %}
                <a href="{% url 'set_language' %}?language={{ lang_code }}&amp;next={{ redirect_to }}">{{ lang_name }}</a>
            {% endfor %}

        </div>
    </div>
</div>
