<!doctype html>
<html lang="{% if LANGUAGE_CODE == 'zh' %}zh-Hant{% else %}{{LANGUAGE_CODE}}{% endif %}" ng-app="App" itemscope itemtype="http://schema.org/Event">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta property="og:title" content="{{ settings.SITE_TITLE }}" />
    <meta property="og:image" content="{% static "images/og.png" %}"/>
    <meta property="og:image" content="{% static "images/og.png" %}"/>
    <meta property="og:location" content="{% trans "No. 128, Sec. 2, Academia Rd., Nankang, Taipei 115, Taiwan" %}">
    <meta property="og:startDate" content="2014-05-17">
    <meta property="og:endDate" content="2014-05-18">

    <title>
      {% block meta_title_block %}
      {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "apple-icon-57x57.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "apple-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "apple-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "apple-icon-144x144.png" %}" />

    {% ifinstalled mezzanine.blog %}
    <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">-->
    <!--<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">-->
    {% endifinstalled %}

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% compress css %}
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.0.3/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/mezzanine/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "all.css" %}">
    <link rel="stylesheet" media="all" href="{% static "css/han.css" %}">
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "vendor/bootstrap-3.0.3/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/angular-1.2.3/angular.min.js" %}"></script>
    <script src="{% static "vendor/angular-1.2.3/angular-animate.min.js" %}"></script>
    <script src="{% static "all.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "vendor/mezzanine/html5shiv.js" %}"></script>
    <script src="{% static "vendor/mezzanine/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}" ng-controller="base">


<div id="main">
  {% nevercache %}
  {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
  {% endfor %}
  {% endnevercache %}

  <div class="mobile-header">
    <h1 itemprop="name"><a href="{% url "home" %}" class="mobile-title">PyCon 2014 APAC</a></h1>
    <img itemprop="image" src="{% static "images/og.png" %}" class="hide">

    <a href="#" class="btn-nav menu-button" ng-class="{opened: showNav}" ng-click="showNav=!showNav">N</a>
  </div>

  {% block #title %}
    <div id="title" class="page-title">
        <div class="content">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
    </div>
  {% endblock %}

  {% block content %}
    <div class="content">
      <div class="col-left">
        <div class="inner">
          {% block main %}{% endblock %}

          <div class="slide"></div>

        </div>
      </div>
      {% block sider %}
        <div id="sider" class="col-right">
            <div class="sponsors hide">
              <h4 class="sponsor-title">Golden</h4>
              <p>
                <img src="{% static 'images/sponsor_logo/hde.png' %}" width=200 height=80 alt="">
                <img src="{% static 'images/sponsor_logo/mongodb.png' %}" width=200 height=80 alt="">
                <img src="{% static 'images/sponsor_logo/google.png' %}" width=200 height=80 alt="">
              <h4 class="sponsor-title silver">Silver</h4>
              <p>
                <img src="{% static 'images/sponsor_logo/github.png' %}" width=200 height=80 alt="">
                <img src="{% static 'images/sponsor_logo/tagtoo.png' %}" width=200 height=80 alt="">
              <h4 class="sponsor-title bronze">Bronze</h4>
              <p>
                <img src="{% static 'images/sponsor_logo/clbc.png' %}" width=200 height=80 alt="">
                <img src="{% static 'images/sponsor_logo/kktix.png' %}" width=200 height=80 alt="">
            </div>
        </div>
      {% endblock %}
      <div class="clear"></div>
    </div>
  {% endblock %}
  <div class="footnote">
    {% blocktrans %}
    <p>
    Built with <a href="https://www.djangoproject.com/">Django</a> and
    <a href="http://mezzanine.jupo.org/">Mezzanine</a>
    by PyCon Taiwan web team.</p>
    <p>
    Hosting provided by <a href="http://streetvoice.com/">StreetVoice</a>.
    </p>
    <p>Bugs or wheels? <a id="feedback_directly" href="mailto:dev@pycon.tw">Feedback and support</a> here.
    </p>
    <p>More on contact <a href="mailto:organizers@pycon.tw"><i>organizers@pycon.tw</i></a></p>
    {% endblocktrans %}
  </div>
  <div class="slideInPage ng-trans ng-trans-slide ng-cloak" ng-if="slidePageUrl">
    <div class="close-btn" ng-click=" closePage() ">&times</div>
    <div ng-include src="slidePageUrl"></div>
  </div>
</div>

{% include "_nav.html" %}

{% include "includes/footer_scripts.html" %}

</body>
</html>
